/* Global styles */
* {
    padding: 0;
    margin: 0;
}

#navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    position: static;
}

#ul li {
    display: inline;
    list-style-type: none;
}

#ul li a {
    margin-right: 90px;
    font-size: larger;
    text-decoration: none;
    margin-top: 10px;
    color: antiquewhite;
}

#ul li a:hover {
    font-size: x-large;
}

#h1 {
    display: inline;
    margin-right: 400px;
    color: antiquewhite;
}

#MyStory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightslategray;
    width: 100%;
    height: 650px;
    background-image: url("images/intro.jpg");
    background-size: cover;
}

#intro {
    width: 50%;
    margin-left: 50px;
    align-self: flex-start;
}

#intro_image {
    display: inline;
    width: 40%;
    margin: 0;
    background-image: url("images/intro_image.jpeg");
    background-size: cover;
    justify-self: flex-end;
    z-index: 2;
}

#intro p {
    font-size: xx-large;
    text-align: center;
    margin-top: 60px;
    color: ivory;
}

#intro #h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 100px;
    font-weight: bolder;
    color: ivory;
}

.MySkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 850px;
    background-image: url("images/MySkills.jpg");
    background-size: cover;
}

#h3 {
    color: black;
    height: 60px;
    text-align: center;
    font-size: 3em;
    border: 5px solid black;
}

#left-one,
#middle-one,
#right-one,
#left-two,
#middle-two {
    margin-top: 50px;
    border: 4px solid #010100;
    border-radius: 5%;
    flex: 0 0 30%;
    width: 450px;
    height: 350px;
    position: relative;
}

#left-one:hover,
#middle-one:hover,
#right-one:hover,
#left-two:hover,
#middle-two:hover {
    font-size: large;
    border: 8px solid #010100;
}

#left-one h2,
#middle-one h2,
#right-one h2,
#left-two h2,
#middle-two h2 {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: ivory;
    margin: 10px;
}

#left-one ul li,
#middle-one ul li,
#right-one ul li,
#left-two ul li,
#middle-two ul li {
    font-size: 5em;
    color: azure;
    list-style: none;
    text-align: start;
    display: inline-block;
    margin: 20px;
}

#middle-one ul li,
#right-one ul li{
    font-size: 6.0em;
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    background-color: rgb(143, 124, 124);
}

#project1,
#project2,
#project3 {
    width: 450px;
    height: 313px;
    align-self: center;
}

#project1 ul,
#project2 ul,
#project3 ul {
    text-align: center;
    margin-top: 10px;
}

#project1 ul li,
#project2 ul li,
#project3 ul li {
    display: inline;
    color: ivory;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 1em;
}

#project1_image,
#project2_image,
#project3_image {
    width: 100%;
    height: 205px;
    margin-top: 10px;
    background-size: cover;
}

#project1_image {
    background-image: url("images/fakenews.jpg");
}

#project2_image {
    background-image: url("images/project2.jpeg");
}

#project3_image {
    background-color: white;
    background-image: url("images/project3.png");
    background-size: contain;
    width: 90%;

}

#h5 {
    color: ivory;
    font-size: 1.25em;
    font-weight: bolder;
    text-align: center;
}

#project3 p {
    color: ivory;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}


#footer {
    background-color: black;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer #copyrights {
    display: inline;
    margin-right: 200px;
}

#footer #copyrights p {
    width: 50%;
    height: 50px;
    font-size: large;
    color: antiquewhite;
    display: inline;
    margin: 200px;
}

#footer #contact {
    display: inline;
}

#footer #contact a {
    width: 40%;
    height: 50px;
    color: antiquewhite;
    margin-right: 70px;
    font-size: x-large;
}

/* Media Queries */

/* Adjust styles for tablets and larger phones */
@media (max-width: 1024px) {
    #h1 {
        margin-right: 200px;
    }

    #intro {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    #intro_image {
        width: 100%;
    }

    #intro p {
        font-size: large;
        margin-top: 30px;
    }

    #intro #h2 {
        font-size: 50px;
        padding-top: 50px;
    }

    .MySkills {
        height: auto;
    }

    #left-one,
    #middle-one,
    #right-one,
    #left-two,
    #middle-two {
        width: 90%;
        margin: 20px auto;
    }
}

/* Adjust styles for smaller screens */
@media (min-width:485px) and (max-width:768px) {
    #navbar {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #ul li a {
        margin-right: 20px;
        font-size: medium;
    }

    #h1 {
        margin-right: 40px;
        margin-bottom: 10px;
    }

    #MyStory {
        flex-direction: row;
        height: auto;
    }

    #intro {
        width: 50%;
        margin-left: 0;
    }

    #intro p {
        text-align:center;
        font-size:large;
    }

    #intro_image {
        width: 40%;
        border-radius: 75%;
    }

    .MySkills {
        width: 100%;
        height: auto;
    }

    #left-one,
    #middle-one,
    #right-one,
    #left-two,
    #middle-two {
        margin: 10px auto;
    }

    #middle-one ul li,
    #left-two ul li,
    #middle-two ul li {
        font-size: 3.5em;
    }

    #left-one ul li {
        font-size: 2.5em;
    }

    #right-one ul li {
        font-size: 5em;
    }

    .Projects {
        flex-direction: column;
        height: auto;
    }

    #project1,
    #project2,
    #project3 {
        width: 90%;
        margin: 10px auto;
    }

    #project1_image,
    #project2_image {
        width: 622px;
    }

    #footer {
        width: 100%;
        height: 30px;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    #footer #copyrights{
        width:50%;
        display: inline;
        margin:0;
    }

    #footer #copyrights p{
        font-size: medium;
        margin:0;
        margin-right: 40px;
    }

    #footer #contact {
        width: 40%;
        display: inline;
    }

    #footer #contact a{
        font-size: medium;
        margin-right: 25px;
    }

}

/* Adjust styles for very small screens (mobile phones) */
@media (max-width: 480px) {
    #navbar {
        height: auto;
    }

    #h1 {
        font-size: small;
        margin-right:20px;
    }

   
    
    #ul {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }

    #ul li a {
        font-size: x-small;
        margin-top: 5px;
        margin-right:20px;
    }

    #MyStory {
       width: 100%;
       height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    #intro {
        width: 50%;
        display: inline;
    }


    #intro p {
        font-size: small;
        margin-top: 20px;
    }

    #intro #h2 {
        font-size: 25px;
        padding-top: 30px;
    }
    #intro_image {
        width: 40%;
        display: inline;
    }


    #left-one ul li,
    #middle-one ul li,
    #right-one ul li,
    #left-two ul li,
    #middle-two ul li {
        font-size: 2em;
    }

    .Projects {
        flex-direction: column;
        height: auto;
    }

    #project1,
    #project2,
    #project3 {
        width: 90%;
        margin: 10px auto;
        height: fit-content;
    }

    #project1_image,
    #project2_image,
    #project3_image {
        margin-top: 20px;
    }

    #project3_image {
        padding-right: 50px;
    }

    #footer {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    #footer #copyrights{
        width:40%;
        display: inline;
        margin:0;
    }

    #footer #copyrights p{
        font-size: x-small;
        margin: 0;
        margin-right: 2px;
    }

    #footer #contact {
        width: 40%;
        display: inline;
    }

    #footer #contact a{
        font-size: x-small;
        margin-right: 10px;
    }
}
